[role="progressbar"][aria-busy="true"] {
  position: relative;
  width: 55px;
  height: 55px;
}
[role="progressbar"][aria-busy="true"]::before {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 15px;
  height: 15px;
  content: '';
  border-radius: 3px;
  box-shadow: 20px 0 0 rgba(149, 188, 17, 0), 40px 0 0 rgba(149, 188, 17, 0), 0 -20px 0 rgba(149, 188, 17, 0), 20px -20px 0 rgba(149, 188, 17, 0), 40px -20px 0 rgba(149, 188, 17, 0), 0 -40px rgba(149, 188, 17, 0), 20px -40px rgba(149, 188, 17, 0), 40px -40px rgba(149, 188, 17, 0);
  animation: loader 5.4s linear forwards infinite;
}
[role="progressbar"][aria-busy="true"]::after {
  position: absolute;
  bottom: 10px;
  left: 0;
  display: block;
  width: 15px;
  height: 15px;
  background-color: #95BC11;
  opacity: 0;
  content: '';
  border-radius: 3px;
  animation: base 5.4s linear forwards infinite;
}
@keyframes base {
  0% {
    bottom: 10px;
    opacity: 0;
  }
  5%, 50% {
    bottom: 0;
    opacity: 1;
  }
  55%, 100% {
    bottom: -10px;
    opacity: 0;
  }
}
@keyframes loader {
  0% {
    box-shadow: 20px -10px rgba(149, 188, 17, 0), 40px 0 rgba(149, 188, 17, 0), 0 -20px rgba(149, 188, 17, 0), 20px -20px rgba(149, 188, 17, 0), 40px -20px rgba(149, 188, 17, 0), 0 -40px rgba(149, 188, 17, 0), 20px -40px rgba(149, 188, 17, 0), 40px -40px rgba(149, 188, 17, 0);
  }
  5% {
    box-shadow: 20px -10px rgba(149, 188, 17, 0), 40px 0 rgba(149, 188, 17, 0), 0 -20px rgba(149, 188, 17, 0), 20px -20px rgba(149, 188, 17, 0), 40px -20px rgba(149, 188, 17, 0), 0 -40px rgba(149, 188, 17, 0), 20px -40px rgba(149, 188, 17, 0), 40px -40px rgba(149, 188, 17, 0);
  }
  10% {
    box-shadow: 20px 0 rgba(149, 188, 17, 1), 40px -10px rgba(149, 188, 17, 0), 0 -20px rgba(149, 188, 17, 0), 20px -20px rgba(149, 188, 17, 0), 40px -20px rgba(149, 188, 17, 0), 0 -40px rgba(149, 188, 17, 0), 20px -40px rgba(149, 188, 17, 0), 40px -40px rgba(149, 188, 17, 0);
  }
  15% {
    box-shadow: 20px 0 rgba(149, 188, 17, 1), 40px 0 rgba(149, 188, 17, 1), 0 -30px rgba(149, 188, 17, 0), 20px -20px rgba(149, 188, 17, 0), 40px -20px rgba(149, 188, 17, 0), 0 -40px rgba(149, 188, 17, 0), 20px -40px rgba(149, 188, 17, 0), 40px -40px rgba(149, 188, 17, 0);
  }
  20% {
    box-shadow: 20px 0 rgba(149, 188, 17, 1), 40px 0 rgba(149, 188, 17, 1), 0 -20px rgba(149, 188, 17, 1), 20px -30px rgba(149, 188, 17, 0), 40px -20px rgba(149, 188, 17, 0), 0 -40px rgba(149, 188, 17, 0), 20px -40px rgba(149, 188, 17, 0), 40px -40px rgba(149, 188, 17, 0);
  }
  25% {
    box-shadow: 20px 0 rgba(149, 188, 17, 1), 40px 0 rgba(149, 188, 17, 1), 0 -20px rgba(149, 188, 17, 1), 20px -20px rgba(149, 188, 17, 1), 40px -30px rgba(149, 188, 17, 0), 0 -40px rgba(149, 188, 17, 0), 20px -40px rgba(149, 188, 17, 0), 40px -40px rgba(149, 188, 17, 0);
  }
  30% {
    box-shadow: 20px 0 rgba(149, 188, 17, 1), 40px 0 rgba(149, 188, 17, 1), 0 -20px rgba(149, 188, 17, 1), 20px -20px rgba(149, 188, 17, 1), 40px -20px rgba(149, 188, 17, 1), 0 -50px rgba(149, 188, 17, 0), 20px -40px rgba(149, 188, 17, 0), 40px -40px rgba(149, 188, 17, 0);
  }
  35% {
    box-shadow: 20px 0 rgba(149, 188, 17, 1), 40px 0 rgba(149, 188, 17, 1), 0 -20px rgba(149, 188, 17, 1), 20px -20px rgba(149, 188, 17, 1), 40px -20px rgba(149, 188, 17, 1), 0 -40px rgba(149, 188, 17, 1), 20px -50px rgba(149, 188, 17, 0), 40px -40px rgba(149, 188, 17, 0);
  }
  40% {
    box-shadow: 20px 0 rgba(149, 188, 17, 1), 40px 0 rgba(149, 188, 17, 1), 0 -20px rgba(149, 188, 17, 1), 20px -20px rgba(149, 188, 17, 1), 40px -20px rgba(149, 188, 17, 1), 0 -40px rgba(149, 188, 17, 1), 20px -40px rgba(149, 188, 17, 1), 40px -50px rgba(149, 188, 17, 0);
  }
  45%, 55% {
    box-shadow: 20px 0 rgba(149, 188, 17, 1), 40px 0 rgba(149, 188, 17, 1), 0 -20px rgba(149, 188, 17, 1), 20px -20px rgba(149, 188, 17, 1), 40px -20px rgba(149, 188, 17, 1), 0 -40px rgba(149, 188, 17, 1), 20px -40px rgba(149, 188, 17, 1), 40px -40px rgba(149, 188, 17, 1);
  }
  60% {
    box-shadow: 20px 10px rgba(149, 188, 17, 0), 40px 0 rgba(149, 188, 17, 1), 0 -20px rgba(149, 188, 17, 1), 20px -20px rgba(149, 188, 17, 1), 40px -20px rgba(149, 188, 17, 1), 0 -40px rgba(149, 188, 17, 1), 20px -40px rgba(149, 188, 17, 1), 40px -40px rgba(149, 188, 17, 1);
  }
  65% {
    box-shadow: 20px 10px rgba(149, 188, 17, 0), 40px 10px rgba(149, 188, 17, 0), 0 -20px rgba(149, 188, 17, 1), 20px -20px rgba(149, 188, 17, 1), 40px -20px rgba(149, 188, 17, 1), 0 -40px rgba(149, 188, 17, 1), 20px -40px rgba(149, 188, 17, 1), 40px -40px rgba(149, 188, 17, 1);
  }
  70% {
    box-shadow: 20px 10px rgba(149, 188, 17, 0), 40px 10px rgba(149, 188, 17, 0), 0 -10px rgba(149, 188, 17, 0), 20px -20px rgba(149, 188, 17, 1), 40px -20px rgba(149, 188, 17, 1), 0 -40px rgba(149, 188, 17, 1), 20px -40px rgba(149, 188, 17, 1), 40px -40px rgba(149, 188, 17, 1);
  }
  75% {
    box-shadow: 20px 10px rgba(149, 188, 17, 0), 40px 10px rgba(149, 188, 17, 0), 0 -10px rgba(149, 188, 17, 0), 20px -10px rgba(149, 188, 17, 0), 40px -20px rgba(149, 188, 17, 1), 0 -40px rgba(149, 188, 17, 1), 20px -40px rgba(149, 188, 17, 1), 40px -40px rgba(149, 188, 17, 1);
  }
  80% {
    box-shadow: 20px 10px rgba(149, 188, 17, 0), 40px 10px rgba(149, 188, 17, 0), 0 -10px rgba(149, 188, 17, 0), 20px -10px rgba(149, 188, 17, 0), 40px -10px rgba(149, 188, 17, 0), 0 -40px rgba(149, 188, 17, 1), 20px -40px rgba(149, 188, 17, 1), 40px -40px rgba(149, 188, 17, 1);
  }
  85% {
    box-shadow: 20px 10px rgba(149, 188, 17, 0), 40px 10px rgba(149, 188, 17, 0), 0 -10px rgba(149, 188, 17, 0), 20px -10px rgba(149, 188, 17, 0), 40px -10px rgba(149, 188, 17, 0), 0 -30px rgba(149, 188, 17, 0), 20px -40px rgba(149, 188, 17, 1), 40px -40px rgba(149, 188, 17, 1);
  }
  90% {
    box-shadow: 20px 10px rgba(149, 188, 17, 0), 40px 10px rgba(149, 188, 17, 0), 0 -10px rgba(149, 188, 17, 0), 20px -10px rgba(149, 188, 17, 0), 40px -10px rgba(149, 188, 17, 0), 0 -30px rgba(149, 188, 17, 0), 20px -30px rgba(149, 188, 17, 0), 40px -40px rgba(149, 188, 17, 1);
  }
  95%, 100% {
    box-shadow: 20px 10px rgba(149, 188, 17, 0), 40px 10px rgba(149, 188, 17, 0), 0 -10px rgba(149, 188, 17, 0), 20px -10px rgba(149, 188, 17, 0), 40px -10px rgba(149, 188, 17, 0), 0 -30px rgba(149, 188, 17, 0), 20px -30px rgba(149, 188, 17, 0), 40px -30px rgba(149, 188, 17, 0);
  }
}